
.content {
    width: 80%;
    
    max-width: 800px;
}

#game {
    margin: 20 auto;
    padding: 0;
}

#subheading {
    margin: 2px 12px;
}

#image {
    min-width: 150px;
    max-width: 150px;
    margin-right: -30px;
    padding: 2px;
}
