.content {
    width: 80%;
    
    max-width: 800px;
}

.content {
    width: 80%;
    
    max-width: 800px;
}

#game {
    margin: 20 auto;
    padding: 0;
}

#subheading {
    margin: 2px 12px;
}

#image {
    min-width: 150px;
    max-width: 150px;
    margin-right: -30px;
    padding: 2px;
}
.writeReviewWrapper {
    text-align: center;
    padding: 20px 25px 30px 25px;
    border-bottom: 1px solid #DDDDDD;
}

.writeReviewWrapper p {
    margin-bottom: 10px;
}

.accountBtns {
    width: 100%;
}

.accountBtns input {
    width: 45%;
}

.signin {
    margin-right: 5%;
}

.reviewHeader {
    padding-bottom: 4px;
    border-bottom: 1px solid #cccccc;
}

.writeReview {
    margin: 10px;
}

.reviewTB {
    resize: none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    font-size: 15px;
    padding: 5px;
}

.reviewTxt {
    width: 100%;
    margin-bottom: 10px;
}

.reviewTitle {
    margin: 10px 0px 0px 0px;
}

.reviewUser {
    margin: 8px 0 0 5px;
}

.reviewContent,
.reviewUpvote {
    padding-left: 10px;
}

.reviewUpvote {
    border-top: 1px solid #eeeeee;
    padding-top: 5px;
}

.reviewUpvote p {
    font-size: 13px;
}

#upvoteBtn,
#downvoteBtn {
    margin-left: 10px;
}

.review {
    padding: 10px;
}

#deleteBtn {
    float:right;
}